ul, ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.about {
    margin-top: 50px;
}
.about-list {
    overflow: hidden;
}
.about-list li {
    float: left;
    margin: 10px;
    width: 168px;
    height: 280px;
    padding: 20px 15px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    box-shadow: -1px 0px 10px #e4e4e4;
    -webkit-box-shadow: -1px 0px 10px #e4e4e4;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.about-list li:hover {
    box-shadow: -1px 0px 15px #dbdbdb;
    -webkit-box-shadow: -1px 0px 15px #dbdbdb;
}
.about-list .picture {
    display: block;
    overflow: hidden;
    margin: auto;
    width: 168px;
    height: 168px;
    border-radius: 3px;
}
.about-list .desc {
    margin: 0;
}
.about-list .desc dt {
    margin: 10px 0 5px;
    font-weight: bold;
}
.about-list .desc dd {
    display: -webkit-box;
    margin: 0;
    overflow: hidden;
    font-size: .8em;
    line-height: 1.4em;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #888;
    width: 100%;
}